.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide
.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide-shm
.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide-wal
.vs/projectImageEdgeDetection/v15/sqlite3/storage.ide
.vs/projectImageEdgeDetection/v15/sqlite3/storage.ide-shm
.vs/projectImageEdgeDetection/v15/sqlite3/storage.ide-wal
.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide
