################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/projectImageEdgeDetection/v15/Server/sqlite3/db.lock
*.suo
/.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide
/.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide-shm
/.vs/projectImageEdgeDetection/v15/Server/sqlite3/storage.ide-wal
